langchain
langchain-huggingface
torch
git+https://github.com/huggingface/transformers
accelerate
bitsandbytes
safetensors
sentencepiece
langchain-google-genai
langchain-openai
python-dotenv
jinja2>=3.1.0